extends layout

block content
  h1 Blog

  if count
    p Display all #{count} post(s)
    #posts
      each post in posts
        include post/index
  else
    p 
      | It looks like you have no posts!
    p
      | Click
      a(href='/post/add') here 
      | to create a post. Login
      | as
      em "admin" 
      | and
      em "express"
      | .
