doctype html
html
  head
  title Ajax
  meta(charset='utf-8')
  script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js", type="text/javascript")
  script(src='/ajax.js', type='text/javascript')
  body
  div#container(align='center')
    div#ajaxOutput Output Text
    p
    input#ajaxInput
    button#ajaxButton Send
      