[submodule "support/haml"]
	path = support/haml
	url = git://github.com/creationix/haml-js.git
[submodule "lib/support/haml"]
	path = lib/support/haml
	url = git://github.com/creationix/haml-js.git
[submodule "lib/support/js-oo"]
	path = lib/support/js-oo
	url = git://github.com/visionmedia/js-oo.git
