# OS X
.DS_Store*
Icon?
._*

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Linux
.directory
*~


# npm
*.log
*.gz


# Coveralls
coverage

# Benchmarking
benchmarks/graphs

# Development files
/benchmarks/
/examples/
/test/
/.travis.yml
/appveyor.yml
