%html
  %head
    %title Upload
    %script{ src: '/public/javascripts/jquery.js' }
    %link{ rel: 'stylesheet', href: '/style.css' }
  %body
    #wrapper
      %h1 Upload
      - if (flashes)
        %ul.messages.info
          - each msg in flashes
            %li= msg
      .body!= body