body
  :font-family "Helvetica Neue", "Lucida Grande", "Arial"
  :font-size 13px
  :text-align center
  :-webkit-text-stroke 1px rgba(255, 255, 255, 0.1)
  :color #555
  
h1, h2
  :margin 0 0 15px 0
  :font-size 22px
  :color #343434
h1
  :text-shadow 1px 2px 2px #ddd
  :font-size 60px
h2
  :margin-top 15px
  
#wrapper
  :position relative
  :margin 100px auto
  :width 500px
  :text-align left

input[type=file]
  :padding 5px
  :border 1px solid #ddd
  :outline none
  :-webkit-border-radius 2px
  :-moz-border-radius 2px
input[type=file]:focus
  :border-color #00C3FF

input[type=submit]
  :-webkit-border-radius 2px
  :-moz-border-radius 2px
  :-webkit-box-shadow 0 1px 2px #ddd
  :-moz-box-shadow 0 1px 2px #ddd
  :padding 6px 10px
  :border solid 1px #999
  :background -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#ddd))
  :color #333
  :text-decoration none
  :cursor pointer
  :display inline-block
  :text-align center
  :text-shadow 0px 1px 1px #fff
  :line-height 1
input[type=submit]:hover
  :background -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#E6E4E4))
input[type=submit]:active
  :background -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#c7c7c7))
input[name=name]
  :width 80px
  
form
  .panel
    :float left
    :width 100%
    :margin-bottom 15px
    
.messages
  :margin 0
  :padding 0
  :border 1px solid #eee
  =box-shadow 2px 2px 5px #eee
  li
    :padding 5px 10px
    :list-style none