- if (typeof images !== 'undefined')
  .images
    - each img in images
      %img{ src: img }

%h2 Singles
%form{ method: 'post', enctype: 'multipart/form-data' }
  %input{ type: 'file', name: 'images[0]' }
  %input{ type: 'file', name: 'images[1]' }
  %input{ type: 'file', name: 'images[2]' }
  %div.panel
    %input{ type: 'submit', value: 'Upload' }
    
%h2 Multiple
%form{ method: 'post', enctype: 'multipart/form-data' }
  %input{ type: 'file', name: 'images[]', multiple: 'multiple' }
  %div.panel
    %input{ type: 'submit', value: 'Upload' }