body {
    padding: 30px 50px;
    font: 12px/1.4 "Helvetica Neue", Arial, sans-serif;
}
a {
    color: #00AAFF;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
.user {
  margin: 0 10px;
  float: left;
  width: 25%;
}
table td:nth-child(2) {
  padding: 0 5px;
}