<div id="user">
  <h1>Editing <%= user.name %></h1>
  <form method="post">
    <p>Email: <input type="text" value="<%= user.email %>" name="user[name]"/></p>
    <p><input type="submit" value="Save" /></p>
  </form>
</div>