doctype
html
  head
    title Search example
    style.
      body {
        font: 14px "Helvetica Neue", Helvetica;
        padding: 50px;
      }
  body
    h2 Search
    p Try searching for "ferret" or "cat".
    input(type='search')
    pre
    script(src='client.js')
