html
  head
    title Express
    script.
      // call this whatever you like,
      // or dump them into individual
      // props like "var user ="
      var data = !{JSON.stringify(expose)}
  body
    h1 Expose client data
    p The following was exposed to the client:
    pre
      script.
        document.write(JSON.stringify(data, null, 2))