h2 Add a user
form(action='/user', method='post')
  p: input(type='text', name='user[name]', placeholder='Username')
  p: input(type='text', name='user[email]', placeholder='Email')
  p: input(type='submit', value='Add')