h1!= ninja.name

// file, partial name, and partial object all match ('summary')
#summary!= partial('summary', ninja.summary)

// file, partial name = '_weapon', resolves to 'weapon' object within partial
#weapons
  h2 Weapons
  ul!= partial('_weapon', ninja.weapons)
  
// partial name 'victim_name' resolves to '_victim_name.jade' file and 'victimName' object
#victims
  h2 Victims
  ul!= partial('victim_name', ninja.victims)