
// note that we extend a different
// layout with jade for 4xx & 5xx
// responses

extends error

block content
  h1 Error: #{error.message}
  if settings['verbose errors']
    pre= error.stack
  else
    p An error ocurred!