%html
  %head
    %title= title
    %script{ src: '/public/javascripts/jquery.js' }
    %script{ src: '/public/javascripts/app.js' }
    %link{ rel: 'stylesheet', href: '/style.css' }
  %body
    #wrapper
      != body
      #online
        Online:
        %strong= usersOnline