h1= ninja.name

// file, partial name, and partial object all match ('summary')
// the partial filename prefix '_' is completely optional.

// In this case we need to specify ninja.summary as the object
// option, since it is a "plain" object Express cannot otherwise
// tell if it is intended to be locals, or THE summary object
#summary!= partial('summary', { object: ninja.summary })

// file, partial name = '_weapon', resolves to 'weapon' object within partial
#weapons
  h2 Weapons
  // the weapon partial is rendered once per item in
  // the weapons array or "collection"
  ul!= partial('weapon', ninja.weapons)
  
// partial name 'victim' resolves to 'victim.jade'
// or 'victim/index.jade', providing the "victim" local
#victims
  h2 Victims
  ul!= partial('victim', ninja.victims)