    <footer>
      <p>
        <% if (user) { %>
          Authenticated as <%= user %>, click to <a href="/logout">logout</a>.
        <%} else {%>
          <%= title %>
        <% } %>
      </p>
    </footer>
  </body>
</html>
