!!! 5
html
  head
    title Authentication Example
    style
      body {
        padding: 50px;
        font: 13px Helvetica, Arial, sans-serif;
      }
      .error {
          color: red
      }
      .success {
          color: green;
      }
  body
    block content
