<h1>Login</h1>
<form method="post" action="/login">
  <p>
    <label>Username:</label>
    <input type="text" name="user[name]">
  </p>
  <p>
    <label>Password:</label>
    <input type="text" name="user[pass]">
  </p>
  <p>
    <input type="submit" value="Login">
  </p>
</form>